/* プロフィール画像の設定 */
.profileimage {
    margin: 70px 30px 30px 30px;
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    height: 60%;
    width: 60%;
}

/* 文章の設定 */
.heading {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #001e43;
    line-height: 1.2;
}

.p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    color: #001e43;
}